[package]
name = "boilerplate-parser"
version = "0.0.0"
description = "Minimal compile-time Rust template engine parser"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
