[package]
name = "html-escaper"
version = "0.2.0"
description = "HTML escaping wrapper for core::fmt::Formatter"
authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
